*~
*.a
*.la
*.o
*.so
*.d
*.dd
*.og
*.orig
*.swp
*.lo
*.res
.libs
_configs.sed
config.h
config.h.in*
config.sub
config.log
config.guess
config.h
config.status
configure
Makefile.in
Makefile
depend
tags
missing
libtool
install-sh
ltmain.sh
aclocal.m4
autom4te.cache/
xmalloc-config
doc/html/
doc/latex/
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
src/libxmalloc.la
include/xmalloc-config.h
include/xmalloc-config.h.in
include/stamp-h1
doc/index.html
doc/apa.html
doc/apb.html
doc/*.html
tests/unit-test-small-blocks
tests/unit-test-large-blocks
tests/unit-test-spec-bins
tests/test-t3
tests/test-t4
tests/test-t5
tests/test-malloc_test
