*~
*.a
*.la
*.o
*.so
*.d
*.dd
*.og
*.orig
*.swp
*.lo
.libs
_configs.sed
config.h
config.h.in*
config.sub
config.log
config.guess
config.h
config.status
configure
Makefile.in
Makefile
depend
tags
ltmain.sh
libtool
missing
aclocal.m4
autom4te.cache/
xmalloc-config
m4/aclocal-include.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/m4_ax_prefix_config_h.m4
src/libxmalloc.la
include/xmalloc-config.h
include/xmalloc-config.h.in
include/stamp-h1
