body {
         font-family: luxi sans,sans-serif;
         color: #eee;
         background-color: #333;
}

.screen {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
 
}

.programlisting {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #333;
        background-color: #467446;
        color: #eee;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.caution, .warning {
        padding-top: 10px;
        padding-left: 10px;
        background-color: #921e1e;
        border: 1px solid #333;
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.caution {
      //font-size: 1.2em;
}

.toc a {
  color: #dddd33;
  text-decoration: none;
}

.toc a:hover {
  color: #dddd33;
  text-decoration: underline;
}

.toc a:active {
  color: #dddd33;
  text-decoration: underline;
}

.ulink {
  color: #dddd33;
  text-decoration: none;
}

.ulink:hover {
  color: #dddd33;
  text-decoration: underline;
}

.ulink:active {
  color: #dddd33;
  text-decoration: underline;
}

.ulink:visited {
  color: #dddd33;
  text-decoration: none;
}
